.foo {
  background: red;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 100px;
  top: 100px;
  animation: test 1s;
  animation-timing-function: cubic-bezier(.46,1.21,.81,1.25);
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
}

.foo.inverted {
  animation-name: test-inverted;
}

.label {
  position: absolute;
  bottom: -50px;
  color: black;
  width: 200%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}

@-invert-keyframes test{
  from{
    transform: translate3d(0, 0, 0);
  }
  to{
    transform: translate3d(150px, 0, 0);
  }
}
